ISOLENS_API_TOKEN=dev-token
AWS_PROFILE=your-sso-profile
AWS_SDK_LOAD_CONFIG=true
AWS_CONFIG_FILE=/root/.aws/config
AWS_SHARED_CREDENTIALS_FILE=/root/.aws/credentials
AWS_REGION=eu-north-1
AWS_DEFAULT_REGION=eu-north-1
TERRAFORM_BIN=terraform
ISOLENS_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
ISOLENS_HUBBLE_UI_URL=http://127.0.0.1:12000
